/* globals.css */
@import "tailwindcss";

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.leaflet-popup-content-wrapper {
  background: #ffffff;
  border-radius: 12px;
  padding: 0;
}